<div class="container">

  <h2>My pending invites </h2>
  <div class="row">
    <% @pending_invites.each do |invite| %>

      <div class="col-6">
        <div class="trip-card" >
          <div class="trip-card-top" style="background-image: url('https://source.unsplash.com/600x200/?<%= invite.trip.destination %>,')">
          <div class="avatar-card">
            <% if invite.trip.user.avatar.attached? %>
              <p><%= cl_image_tag invite.trip.user.avatar.key, width: 50, height: 50, crop: :fill, style: "border-radius: 50%;" %></p>
            <% else %>
              <i class='fas fa-user-circle avatar dropdown-toggle image' ></i>
            <% end %>
            <div class="middle">
              <div class="text">
                <%= invite.trip.user.first_name %>
              </div>
            </div>
          </div>
            <h2><%= invite.trip.title %></h2>
          </div>
          <div class="trip-card-bottom">
            <p><%= invite.trip.start_date %> / <%= invite.trip.end_date %></p>
            <%= simple_form_for [invite.trip, invite] do |f| %>
              <%= f.submit "Accept invitation", class:"button-green"%>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <h2>My accepted invites</h2>
  <div class="row">
    <% @accepted_invites.each do |invite| %>
          <div class="col-6">
        <div class="trip-card" >
          <div class="trip-card-top" style="background-image: url('https://source.unsplash.com/600x200/?<%= invite.trip.destination %>,')">
          <div class="avatar-card">
            <% if invite.trip.user.avatar.attached? %>
              <p><%= cl_image_tag invite.trip.user.avatar.key, width: 50, height: 50, crop: :fill, style: "border-radius: 50%;" %></p>
            <% else %>
              <i class='fas fa-user-circle avatar image'></i>
            <% end %>
            <div class="middle">
              <div class="text">
                <%= invite.trip.user.first_name %>
              </div>
            </div>
          </div>
            <h2><%= invite.trip.title %></h2>
          </div>
          <div class="trip-card-bottom">
            <p><%= invite.trip.start_date %> / <%= invite.trip.end_date %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>

</div>
