<div class="banner-index" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(https://images.unsplash.com/photo-1469854523086-cc02fe5d8800?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1008&q=80 );">
  <div>
    <div class="container text-center index-title">
      <div class="mb-5">
        <h1>Your trips</h1>
      </div>
      <div>

      <% if policy(Trip).create? %>
        <%= link_to  "Add a trip", new_trip_path, class: "button-orange-add-a-trip-banner" %>
      <% end %>
      </div>
      <div class="row d-flex text-end">
        <div class="">
        <%# <h4><%= link_to "Check your next trip" %>
        <%# <h4><%#= link_to "5 past trips" %>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container trip-index">

  <div class="row" >
    <% @trips.each do |trip| %>
      <div class="col-6">

        <%= link_to trip_path(trip), class: "trip-card-link", data: {turbolinks: false} do%>
          <div class="trip-card <%= "past-trip" if trip.end_date < Date.today %> " >
            <div class="trip-card-top <%= trip.destination %>">
              <div class="avatar-card">
                <% if trip.user.avatar.attached? %>
                  <p><%= cl_image_tag trip.user.avatar.key, width: 50, height: 50, crop: :fill, style: "border-radius: 50%;", class: "image" %></p>
                <% else %>
                  <%= image_tag("avatar.png", width: 50, height: 50, crop: :fill, style: "border-radius: 50%;", class: "image") %>
                <% end %>
                <div class="middle">
                  <div class="text">
                    <%= trip.user.first_name %>
                  </div>
                </div>
              </div>
              <h3><%= trip.title %></h3>
              <%= trip.destination %>
            </div>
            <div class="trip-card-bottom">
              <div class="trip-card-date">
              <div class="start-date"> <i class="fas fa-plane-departure"></i> <%= "#{trip.start_date.strftime("%d %b %Y")}"%> </div>
              <div class="end-date"> <i class="fas fa-plane-arrival"></i> <%= "#{trip.end_date.strftime("%d %b %Y")}"%> </div>
              </div>
              <div class="trip-days">
              <%# <span class="month"> <#%= "from #{trip.start_date.strftime("%b %d, %Y")} to #{trip.end_date.strftime("%b %d, %Y")}"%>
              <div class="duration"><i class="far fa-clock"></i> Duration:<div class="data"> <%= "#{pluralize (trip.end_date - trip.start_date).to_i, "day"}" %></div> </div>
              <div class="participating"><i class="fas fa-user-check"></i>Participating:<div class="data"> <%= "#{trip.users.count + 1}" %> </div> </div>
            </div>
              <div class="trip-invitees">
                <% trip.invites.each do |invite| %>
                  <% if invite.user.avatar.attached? %>
                    <%= cl_image_tag invite.user.avatar.key, width: 30, height: 30, crop: :fill, class: "trip-invitee" %>
                  <% else %>
                    <%= image_tag("avatar.png", class: "trip-invitee") %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div>
    <%= link_to new_trip_path, class: "button-add-proposition bouton-sticky" do %>
      <div data-toggle="tooltip" data-placement="top" title="Add a trip" class="tooltip-add">
        <i class="fas fa-plus"></i>
      </div>
    <% end %>

  </div>
</div>
