<!-- app/views/trips/show.html.erb -->
<% content_for :meta_title, "#{@trip.title} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @trip.description %>
<% content_for :meta_image, cl_image_path(@trip.destination) %>
<div class="banner <%= @trip.destination %>">
  <%= render 'shared/navbar' %>
  <div>
    <div class="container">
      <h1><strong> <%=@trip.title%></strong></h1>
      <h3 class="date-banner">from <%=@trip.start_date.strftime("%B %d, %Y")%> to <%=@trip.end_date.strftime("%B %d, %Y")%></h3>
      <div class="show-banner-interactions">
        <div class="sign-button button-orange" data-toggle="modal" data-target="#propositionModal" >Add a proposition</div>
      </div>

      <div class="navigation-tabs">
        <div class="navigation-tabs-green row">
          <div class="pending button-tabs" id="pending-prop">
            <!-- <h5 class="big"><i class="fas fa-road road-prop"></i> Propositions <span><%= @trip.propositions.select {|prop| prop.status != "validated"}.count %></span> </h5> -->
            <h5 class="big"><i class="fas fa-road road-prop"></i> Propositions <span><%= @trip.propositions.select {|prop| prop.status != "validated"}.count %></span> </h5>
            <!-- @media max-width 768px -->
            <h5 class="small"><i class="fas fa-road road-prop"></i> <span><%= @trip.propositions.select {|prop| prop.status != "validated"}.count %></span></h5>
          </div>

          <div class="validated button-tabs unactive-tab" id="all-prop">
            <h5 class="big"><i class="fas fa-road road-validate"></i> Validated steps <span><%= @trip.propositions.select {|prop| prop.status == "validated"}.count %></span></h5>
            <!-- @media max-width 768px -->
            <h5 class="small"><i class="fas fa-road road-validate"></i>  <span><%= @trip.propositions.select {|prop| prop.status == "validated"}.count %></span></h5>
          </div>
        </div>

        <div class="all-steps button-tabs unactive-tab" id="validated-prop">
          <h5 class="big"><i class="fas fa-road road-step"></i> Trip details <span><%= @trip.propositions.select {|prop| prop.status == "validated" && prop.booked == true}.count %></span></h5>
          <!-- @media max-width 768px -->
          <h5 class="small"><i class="fas fa-road road-step"></i> <span><%= @trip.propositions.select {|prop| prop.status == "validated" && prop.booked == true}.count %></span></h5>
        </div>
      </div>

      <div class = 'div-qui-contient-la-modal w-50'>
        <!--  New invitation Modal -->
        <%= render "invites/new_invite_modal" %>
        <!--  New proposition Modal -->
        <%= render "propositions/nnew_proposition_modal" %>
      </div>
    </div>
  </div>
</div>
<div class = "container-for-cards-map pt-3 flex-1">
<div class="avatar-on-cards pb-3">
  <%= render "propositions/avatar_on_cards" %>
</div>

  
  <!-- Propositions (unvalidated && unbooked) tabs below -->
  <div class="pending-prop">
    <!-- list of pending propositions sorted by descending nb of votes with map and markers -->
    <%= render "propositions/list", propositions: @trip.propositions.select {|prop| prop.status!="validated"}.sort {|a,b| b.votes.count <=> a.votes.count}, map: "map-pending", markers: @markers.to_json %>
  </div>
  
  <!-- Validated steps (booked == false et validated) tabs beloowwww -->
  <div class="all-prop d-none">
    <!-- propositions are sorted by due_date -->
    <%= render "propositions/list", propositions: @trip.propositions.select {|prop| prop.status == "validated" && prop.booked != true}, map: "map-validated", markers: @validated_markers.to_json%>
  </div>
  
  <!-- Trip details (booked propositions & validated) to book tabs beloowwww -->
  <div class="validated-prop d-none">
    <!-- propositions are sorted by due_date -->
    <%= render "propositions/list", propositions: @trip.propositions.select {|prop| prop.booked == true} , map: "map-all", markers: @markers.to_json, steps: @steps %>
  </div>
  
  <!-- Button trigger proposition new modal -->
  <div class="button-add-proposition bouton-sticky" data-toggle="modal" data-target="#propositionModal">
    <div data-toggle="tooltip" data-placement="top" title="Add a proposition">
      <i class="fas fa-plus"></i>
    </div>
  </div>
  
</div>