<!-- app/views/trips/show.html.erb -->
<% content_for :meta_title, "#{@trip.title} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @trip.description %>
<% content_for :meta_image, cl_image_path(@trip.destination) %>

<div class="banner <%= @trip.destination %>">
  <div>
    <div class="container">
          <h1>View your<strong> <%=@trip.title%></strong></h1>
          <h3 class="date-banner">from <%=@trip.start_date.strftime("%B %d, %Y")%> to <%=@trip.end_date.strftime("%B %d, %Y")%></h3>
          <div class="show-banner-interactions">
            <div class="sign-button button-orange" data-toggle="modal" data-target="#propositionModal" >Add a proposition</div>
            <div class= "">
              <!-- Button trigger modal -->
              <div class="button-orange-clair button-modal" data-toggle="modal" data-target="#exampleModal">
                Invite a friend
              </div>
            </div>
          </div>
          <div class="navigation-tabs">
            <div class="navigation-tabs-green">
              <div class="pending button-tabs" id="pending-prop">
                <h5>Pending (<%= @trip.propositions.select {|prop| prop.status != "validated"}.count %>)</h5>
              </div>
              <div class="all-steps button-tabs unactive-tab" id="all-prop">
                  <h5>Validated propositions (<%= @trip.propositions.select {|prop| prop.status == "validated"}.count %>)</h5>
              </div>
            </div>

            <!--  New invitation Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Invite a friend to join <%=@trip.title%></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <%= simple_form_for [@trip, @invite], remote: true do |f| %>
                  <div class="modal-body">
                    <div class="form-wrapper" id="invite-form-div">
                        <%= f.input :email, label: 'Pick a friend to invite' %>
                    </div>
                  </div>
                    <div class="modal-footer">
                      <div type="button" class="button-green" data-dismiss="modal">Close</div>
                      <%= f.button :submit, 'Send invite', class: "button-orange" %>
                    </div>
                    <% end %>
                </div>
              </div>
            </div>
            <!--  New proposition Modal -->
            <div class="modal fade" id="propositionModal" tabindex="-1" role="dialog" aria-labelledby="propositionModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="propositionModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <%= simple_form_for [@trip, @proposition], remote: true do |f| %>
                  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
                  <div class="modal-body">
                    <div class="form-wrapper" id="booking-form-div">
                        <%= f.input :category, :collection => ["food", "accomodation", "activity"], label: 'Pick a category' %>
                        <%= f.input :start_date, label: "Sélectionnez vos dates:", as: :string, required: false, input_html: { id: "range_start", class: "d-none" } %>
                        <%= f.input :end_date, label: false, as: :string, required: false, input_html: { id: "range_end", class: "d-none"  } %>
                        <%= f.input :due_date %>
                        <%= f.input :address, as: :string %>
                        <%= f.input :title %>
                        <%= f.input :description %>
                        <%= f.input :url %>
                    </div>
                  </div>
                    <div class="modal-footer">
                      <div type="button" class="button-green" data-dismiss="modal">Close</div>
                      <div class="">
                        <%= f.button :submit, 'Add proposition', class: "button-orange" %>
                      </div>
                    </div>
                    <% end %>
                </div>
              </div>
            </div>
      </div>
      </div>
    </div>
  </div>
  <!-- pending proposition tabs below -->
  <div class="pending-prop">
    <div class="trip-owner-show">
      <% if @trip.user.avatar.attached? %>
        <p><%= cl_image_tag @trip.user.avatar.key, width: 60, height: 60, crop: :fill, style: "border-radius: 50%;", class: "image" %></p>
      <% else %>
        <%= image_tag("avatar.png", class: "trip-owner-show") %>
      <% end %>
    </div>

    <div class="trip-invitees-show">
     <div class="button-add-proposition " data-toggle="modal" data-target="#exampleModal">
        <div data-toggle="tooltip" data-placement="top" title="Invate a friend" class="tooltip-add">
          <i class="fas fa-plus"></i>
        </div>
      </div>
      <% @trip.invites.each do |invite| %>
        <% if invite.user.avatar.attached? %>
          <% if invite.accepted?%>
            <%= cl_image_tag invite.user.avatar.key, width: 50, height: 50, crop: :fill, class: "trip-invitee-show" %>
          <% else %>
            <%= cl_image_tag invite.user.avatar.key, width: 50, height: 50, crop: :fill, class: "trip-invitee-show unaccepted-invite"%>
          <% end %>

        <% else %>
          <%= image_tag("avatar.png", class: "trip-invitee-show") %>
        <% end %>
      <% end %>
    </div>
    <div>
      <%= render "propositions/list", propositions: @trip.propositions.select {|prop| prop.status!="validated"}, map: "map-pending", markers: @markers.to_json %>
    </div>

  </div>

<!-- Validated propositions tabs beloowwww -->
  <div class="all-prop d-none">
    <div class="trip-owner-show">
      <% if @trip.user.avatar.attached? %>
        <p><%= cl_image_tag @trip.user.avatar.key, width: 60, height: 60, crop: :fill, style: "border-radius: 50%;", class: "image" %></p>
      <% else %>
        <%= image_tag("avatar.png", class: "trip-owner-show") %>
      <% end %>
    </div>

    <div class="trip-invitees-show">
      <% @trip.invites.each do |invite| %>
        <% if invite.user.avatar.attached? %>
          <% if invite.accepted == "true"%>
            <%= cl_image_tag invite.user.avatar.key, width: 50, height: 50, crop: :fill, class: "trip-invitee-show" %>
          <% else %>
            <%= cl_image_tag invite.user.avatar.key, width: 50, height: 50, crop: :fill, class: "trip-invitee-show unaccepted-invite"%>
          <% end %>

        <% else %>
          <%= image_tag("avatar.png", class: "trip-invitee-show") %>
        <% end %>
      <% end %>
    </div>
    <div>
      <%= render "propositions/list", propositions: @trip.propositions.select {|prop| prop.status == "validated"}, map: "map-all", markers: @validated_markers.to_json %>
    </div>
  </div>
  <!-- Button trigger proposition new modal -->
  <div class="button-add-proposition bouton-sticky" data-toggle="modal" data-target="#propositionModal">
    <div data-toggle="tooltip" data-placement="top" title="Add a proposition">
      <i class="fas fa-plus"></i>
    </div>
  </div>
</div>
