<div class="trip-owner-show">
  <% if @trip.user.avatar.attached? %>
    <p><%= cl_image_tag @trip.user.avatar.key, width: 60, height: 60, crop: :fill, style: "border-radius: 50%;", class: "image" %></p>
  <% else %>
    <%= image_tag("avatar.png", class: "trip-owner-show") %>
  <% end %>
</div>


<div class="trip-invitees-show ">
 <div class="button-add-invites " data-toggle="modal" data-target="#exampleModal">
    <div data-toggle="tooltip" data-placement="top" title="Invite a friend" class="tooltip-add">
      <i class="fas fa-plus"></i>
    </div>
  </div>
  <% @trip.invites.each do |invite| %>

    <div class="position-relative">
      <div class="">
        <% if invite.user.avatar.attached? %>
          <% if invite.accepted?%>
            <%= cl_image_tag invite.user.avatar.key, width: 50, height: 50, crop: :fill, class: "trip-invitee-show" %>
          <% else %>
            <%= cl_image_tag invite.user.avatar.key, width: 50, height: 50, crop: :fill, class: "trip-invitee-show unaccepted-invite"%>
          <% end %>
        <% else %>
          <%= image_tag("avatar.png", class: "trip-invitee-show") %>
        <% end %>
      </div>
      <div class="avatar-card-name">
        <%= invite.user.first_name %>
      </div>
    </div>
  <% end %>
</div>