<!-- This is the modal form for a dislike, used on a proposition card in _list -->
<div class="modal " id="dislikeModal-<%=proposition.id%>" tabindex="-1" role="dialog" aria-labelledby="dislikeModalLabel-<%=proposition.id%>" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-trip-show-radius"   role="document">
    <div class="modal-content" style="border-radius: 15px">
      <div class="modal-header">
        <h5 class="modal-title" id="dislikeModalLabel-<%=proposition.id%>">Downvote <%=proposition.title%> ?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= simple_form_for [proposition, vote], remote: true do |f| %>
        <div class="modal-body">
          <div class="form-wrapper">
            <% if proposition.users.include?(current_user) %>
              <%= f.input :comment, disabled: true %>
            <% else %>
              <%= f.input :comment %>
            <% end %>
              <%= f.input :status, as: :hidden, :input_html => { :value =>  "downvote" } %>
          </div>
        </div>
        <div class="modal-footer">
          <div type="button" class="button-green" data-dismiss="modal">
            Cancel
          </div>
          <% if proposition.users.include?(current_user) %>
            <%= f.button :submit, 'Already voted', class: "button-orange d-none" %>
            <div class = 'btn btn-disabled'>
              You already voted!
            </div>
          <% else %>
            <%= f.button :submit, 'downvote', class: "button-orange" %>
          <% end %>
        </div>
      <% end %>
      </div>
    </div>
  </div>