<div class="container">
  <h3 class="my-5">Propositions</h3>
  <div class="row" >
  </div>
  <div class="button-add" id="bouton-sticky">+</div>
    <% propositions.each do |proposition| %>
      <% case proposition.category %>
      <% when "activity"%>
      <% iconecategory="fa-volleyball-ball" %>
      <% color="activity"%>
      <% when "food"%>
      <% iconecategory="fa-hamburger" %>
      <% color="food"%>
      <% when "accomodation"%>
      <% iconecategory="fa-bed" %>
      <% color="bed"%>
      <% end %>
      <div class="col-8">
        <div class="trip-card" >
          <div class="card-proposition-top" id="<%=color%>">
            <div class="row" >
              <i class="fas <%=iconecategory%>"></i>
              <h5><%= proposition.title %></h5>
              <p><%= proposition.user_id %></p>
            </div>
            <div class="row-2" >
              <p>Due date: <%= proposition.due_date %></p>
            </div>
            </div>
          <div class="card-proposition-bottom">
            <p>Dates: <%= proposition.start_date %> / <%= proposition.end_date %></p>
              <div>
              <i class="fas fa-thumbs-up"></i>
              <i class="fas fa-thumbs-down"></i>
            </div>
          </div>
        </div>
      </div>
    <% end %>
</div>













