<div class="container">

  <h3>Propositions</h3>
  <div class="row" >
    <div class="col-8">
      <% propositions.each do |proposition| %>
        <div class="trip-card" >
          <div class="card-proposition-top">
            <div class="row" >
              <i class="fas fa-volleyball-ball"></i>
              <h5><%= proposition.title %></h5>
              <p><%= proposition.user_id %></p>
            </div>
            <div class="row-2" >
              <p>Due date: <%= proposition.due_date %></p>
            </div>
            </div>
          <div class="card-proposition-bottom">
            <p>Dates: <%= proposition.start_date %> / <%= proposition.end_date %></p>
              <div>
              <i class="fas fa-thumbs-up"></i>
              <i class="fas fa-thumbs-down"></i>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-4">
      <div id="map"
        style="width: 100%; height: 600px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="pk.eyJ1IjoiaW5ha2lnYXV0aGllciIsImEiOiJja280ZWJwbjMweng0MndzMmUzenZweWFjIn0.cPSOg_0-vCbqt5-lM33R1g">
      </div>
    </div>
  </div>
</div>