<div class="container">
  <div class="row">
    <div class="col-md-8 col-sm-12">
      <div class="list-propositions ">
        <% propositions.each do |proposition| %>
        <div class="prop-card global-card-proposition<%= 'validated-prop' if proposition.status == 'validated'%> <%= proposition.category %>" id="prop-<%= proposition.id %>">
        <!--top card -->
          <div class="card-proposition-top bg-color-<%= proposition.category %>">
            <!-- BUTTON DELETE -->
            <% if policy(proposition).destroy? %>
              <%= link_to trip_proposition_path(proposition),
                  method: :delete,
                  class: "delete-prop",
                  data: { confirm: "Are you sure you want to delete this proposition?" } do %>
              <span class="button-delete">
              <i class="fas fa-trash-alt"></i>
              </span>
              <% end %>
            <% end %>

            <h4 data-toggle="modal" data-target="#propositionShow-<%= proposition.id %>" class="proposition-title">
              <%= proposition.title %>
            </h4>
            <p class="prop-by">by <%=proposition.user.first_name%></p>
            <!--category -->
            <p class="badge-category">
            <i class="fas <%=Proposition::ICONS[proposition.category]%> "></i>
            <%= proposition.category %>
            </p>
          </div>
            <!--bottom card -->
          <div class="card-proposition-bottom">
            <p><i class="fas fa-stopwatch mr-2"></i>Due date: <%= proposition.due_date.strftime("%B %d, %Y") if proposition.due_date %></p>
            <% if proposition.start_date != proposition.end_date %>
              <p><i class="fas fa-calendar-alt mr-2"></i><%= "#{proposition.start_date.strftime("%D")} to #{proposition.end_date.strftime("%D")}"%></p>
            <% else %>
              <p><i class="fas fa-calendar-alt mr-2"></i><%=" #{proposition.start_date.strftime("%D") if proposition.start_date}" %> </p>
            <% end %>
            <div class="prop-votes">
              <!-- Button trigger like vote -->
              <%= render 'propositions/button_like_vote', proposition: proposition %>

              <!-- Button trigger dislike vote -->
              <%= render 'propositions/button_dislike_vote', proposition: proposition %>
            </div>

            <div class="validation-prop">
              <% if proposition.status != 'validated' %>
              <% end %>
              <% if proposition.status != 'validated' && proposition.trip.user == current_user %>
                <%= link_to validate_path(proposition), remote: true, method: :patch do %>
                  <span class='button-interactive'>validate</span>
                <% end %>
              <% elsif proposition.status == 'validated'%>
                <span class='button-validated'>VALIDATED</span>
              <% end %>
                
              <% if proposition.booked != true && proposition.trip.user == current_user && proposition.status == "validated" %>
                <%= link_to book_path(proposition), remote: true, method: :patch do %>
                  <span class='button-interactive-book'>BOOK</span>
                <% end %>
              <% elsif proposition.booked == true %>
                <span class='button-booked'>BOOKED</span>
              <% end %>
            </div>
          </div>
        </div>
        <!-- Modal show of the proposition, with comments & votes  -->
        <%= render 'propositions/proposition_modal', proposition: proposition %>

        <!-- Like modal form -->
        <%= render 'propositions/like_modal_form', proposition: proposition , vote: @vote %>

        <!-- disLike modal form -->
         <%= render 'propositions/dislike_modal_form', proposition: proposition , vote: @vote %>

        <% end %>
      </div>
    </div>

    <div class="col-md-4 col-sm-12 ">
      <div class="map" id="<%= map %>" style="width: 100%; height: 100vh; border-radius: 20px;"
        data-markers="<%= markers %>"
        <% if local_assigns[:steps] %>
          data-steps="<%= steps.to_json %>"
        <% end %>
        data-mapbox-api-key="<%=ENV['MAPBOX_API_KEY']%>">
      </div>
    </div>
  </div>
</div>

