<div class="container">
  <h3 class="my-5"></h3>
  <div class="row" >

    <div class="col-8">
    <% propositions.each do |proposition| %>
        <div class="trip-card <%= 'validated-prop' if proposition.status == 'validated'%>" id = "prop-<%= proposition.id %>">
          <div class="card-proposition-top bg-color-<%= proposition.category %>">
            <div class="row" >
              <i class="fas <%=Proposition::ICONS[proposition.category]%>"></i>
              <h5><%= proposition.title %></h5>
              <p>by <%= proposition.user.first_name %></p>
            </div>
            <div class="row-2" >
              <div class="validation-prop">
                <p>Due date: <%= proposition.due_date.strftime("%B %d, %Y") if proposition.due_date %></p>
                <% if proposition.status != 'validated' && proposition.trip.user == current_user %>
                  <%= link_to validate_path(proposition), remote: true, method: :patch do %>
                    <span class='button-prout'>validate</span>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="card-proposition-bottom">
            <% if proposition.start_date != proposition.end_date %>
              <p><%= "Dates from #{proposition.start_date.strftime("%B %d, %Y")} to #{proposition.end_date.strftime("%B %d, %Y")}"%></p>
            <% else %>
              <p> <%="Date: on #{proposition.start_date}" %> </p>
            <% end %>
              <div>
              <!-- Button trigger like vote -->
                <% if proposition.users.include?(current_user) %>
                  <i class='fas fa-thumbs-up' data-target="#likeModal-<%=proposition.id%>" data-toggle="modal">
                <% else %>
                  <i class='far fa-thumbs-up' data-target="#likeModal-<%=proposition.id%>" data-toggle="modal">
                <% end %>
                  <span class="vote-counter">
                    <%=proposition.votes.select {|vote| vote.status == "upvote"}.count%>
                  </span>
                </i>
              <!-- Like modal form -->
                <div class="modal fade" id="likeModal-<%=proposition.id%>" tabindex="-1" role="dialog" aria-labelledby="likeModalLabel-<%=proposition.id%>" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="likeModalLabel-<%=proposition.id%>">Upvote <%=proposition.title%> ?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <%= simple_form_for [ proposition, @vote ], remote: true do |f| %>
                      <div class="modal-body">
                        <div class="form-wrapper">
                              <%= f.input :comment %>
                            <%= f.input :status, as: :hidden, :input_html => { :value =>  "upvote" } %>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <div type="button" class="button-green" data-dismiss="modal">Cancel</div>
                        <% if proposition.users.include?(current_user) %>
                          <%= f.button :submit, 'Already voted', class: "button-orange d-none" %>
                          <div class = 'btn btn-disabled'>
                            You already voted!
                          </div>
                        <% else %>
                          <%= f.button :submit, 'Upvote', class: "button-orange" %>
                        <% end %>
                      </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              <!-- Button trigger dislike vote -->
                <% if proposition.users.include?(current_user) %>
                  <i class='fas fa-thumbs-down' data-target="#dislikeModal-<%=proposition.id%>" data-toggle="modal">
                <% else %>
                  <i class='far fa-thumbs-down' data-target="#dislikeModal-<%=proposition.id%>" data-toggle="modal">
                <% end %>
                <span class="vote-counter">
                  <%=proposition.votes.select {|vote| vote.status == "downvote"}.count%>
                </span>
              </i>
              <!-- disLike modal form -->
              <div class="modal fade" id="dislikeModal-<%=proposition.id%>" tabindex="-1" role="dialog" aria-labelledby="dislikeModalLabel-<%=proposition.id%>" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="dislikeModalLabel-<%=proposition.id%>">Downvote <%=proposition.title%> ?</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                        <%= simple_form_for [proposition, @vote], remote: true do |f| %>
                    <div class="modal-body">
                      <div class="form-wrapper">
                        <% if proposition.users.include?(current_user) %>
                          <%= f.input :comment, disabled: true %>
                        <% else %>
                          <%= f.input :comment %>
                        <% end %>
                          <%= f.input :status, as: :hidden, :input_html => { :value =>  "downvote" } %>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <div type="button" class="button-green" data-dismiss="modal">Cancel</div>
                      <% if proposition.users.include?(current_user) %>
                          <%= f.button :submit, 'Already voted', class: "button-orange d-none" %>
                          <div class = 'btn btn-disabled'>
                            You already voted!
                          </div>
                        <% else %>
                          <%= f.button :submit, 'downvote', class: "button-orange" %>
                        <% end %>
                    </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-4">
        <%#= raise %>
      <div class="map" id="<%= map %>"
        style="width: 100%; height: 600px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%=ENV["MAPBOX_API_KEY"]%>">
      </div>
    </div>
  </div>
</div>


