<div class="container">
  <h3 class="my-5">Propositions</h3>
  <div class="row" >

    <div class="col-8">
    <% propositions.each do |proposition| %>
      <%# case proposition.category %>
      <%# when "activity"%>
      <%# iconecategory="fa-volleyball-ball" %>
      <%# color="activity"%>
      <%# when "food"%>
      <%# iconecategory="fa-hamburger" %>
      <%# color="food"%>
      <%# when "accomodation"%>
      <%# iconecategory="fa-bed" %>
      <%# color="bed" %>
      <%# end %> <%=  %>
        <div class="trip-card" >
          <div class="card-proposition-top bg-color-<%= proposition.category %>">
            <div class="row" >
              <i class="fas <%=Proposition::ICONS[proposition.category]%>"></i>
              <h5><%= proposition.title %></h5>
              <p>by <%= proposition.user.first_name %></p>
            </div>
            <div class="row-2" >
              <p>Due date: <%= proposition.due_date %></p>
            </div>
            </div>
          <div class="card-proposition-bottom">
            <p>Dates: <%= proposition.start_date %> / <%= proposition.end_date %></p>
              <div>
              <i class="fas fa-thumbs-up"></i>
              <i class="fas fa-thumbs-down"></i>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-4">
        <%#= raise %>
      <div id="map"
        style="width: 100%; height: 600px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="pk.eyJ1IjoiaW5ha2lnYXV0aGllciIsImEiOiJja280ZWJwbjMweng0MndzMmUzenZweWFjIn0.cPSOg_0-vCbqt5-lM33R1g">
      </div>
    </div>
  </div>
</div>

