<div class="modal" id="propositionShow-<%= proposition.id %>" tabindex="-1" role="dialog" aria-labelledby="propositionShowModalLabel-<%= proposition.id %>" aria-hidden="true">

  <div class="modal-dialog-centered w-50 mx-auto mt-5 modal-trip-show" role="document">
    <div class="modal-content modal-trip-show-radius">
      <div class="modal-header bg-color-<%= proposition.category %>">
        <div class="modal-prop-title ">
          <h5 class="modal-title proposition-title" id="propositionShowModalLabel-<%= proposition.id %>"><%= link_to "#{proposition.title}", proposition.url, target: "_blank" %></h5>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-prop-counter-proposition">
          <p><mark style="color:green"><%= pluralize proposition.votes.select{ |vote| vote.status == "upvote" }.count,"" %><i class="fas fa-thumbs-up"></i></mark></p>
          <p><mark style="color: red"><%= pluralize proposition.votes.select{ |vote| vote.status == "downvote" }.count, "" %><i class="fas fa-thumbs-down"></i></mark></p>
        </div>
        <div class="modal-prop-description bg-light">
          <p><ins>Description:</ins></p>
          <p><em><%= proposition.description %></em></p>
        </div>
        <div class="modal-prop-comments">
          <p><ins><%=  pluralize proposition.votes.select {|vote| vote.comment !=""}.count, "comment" %></ins> :</p>
          <% proposition.votes.each do |vote|%>
            <% if vote.comment != "" %>
            <div class="comment">
              <p class="name"><%= vote.user.first_name %>:</p>
              <p class="content">"<%= vote.comment %>"</p>
            </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="modal-footer">
        <% if proposition.status != 'validated' && proposition.trip.user == current_user %>
            <%= link_to validate_path(proposition), remote: true, method: :patch do %>
              <span class='button-interactive'>validate</span>
            <% end %>
            <% else %>
                <p class='validatedpropmsg'>validated</p>
            <% end %>
      </div>
    </div>
  </div>
</div>














