<%= render 'shared/navbar' %>
<!-- will be used in a modal in trip show -->

<%# <h1>Create a proposition for your @trip.title trip</h1> %>

<div class="container">
  <div class="form-wrapper" id="booking-form-div">
    <%= simple_form_for [@trip, @proposition] do |f| %>
      <%= f.input :category, :collection => ["food", "accomodation", "activity"], label: 'Pick a category' %>
      <%= f.input :start_date, label: "Sélectionnez vos dates:", as: :string, required: false, input_html: { id: "range_start", class: "d-none" } %>
      <%= f.input :end_date, label: false, as: :string, required: false, input_html: { id: "range_end", class: "d-none"  } %>
      <%= f.input :due_date %>
      <%= f.input :address %>
      <%= f.input :title %>
      <%= f.input :description %>
      <%= f.input :url %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
